//- includes head.pug
doctype html
html
    head
        title Contact List
        // include script(jQ)
        // include css(bootstrap)
        // include script(bootstrap)
        // include css(local)