body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: gray;
}

.container{
  border: 2px solid black;

}

label {
  padding: 5px;
}

#map {
  margin-left: 50px;
  margin-top: 1em;
  width: 80%;
  height: 40%;
}